<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./n&f/head.ejs') %>
  </head>
  <body dir="rtl">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <%- include("./n&f/nav.ejs") %>
      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <!-- Page Content -->
        <div class="content container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                  <thead>
                    <tr>
                      <th style="width: 30px">#</th>
                      <th>الاسم الكامل</th>
                      <th>الوظيفة المطلوبة</th>
                      <th>تاريخ الميلاد</th>
                      <th>مكان الولادة</th>
                      <th>ديانة</th>
                      <th>رقم الهوية</th>
                      <th>هاتف</th>
                      <th>بريد إلكتروني</th>
                      <th>جنس</th>
                      <th>الحالة الاجتماعية</th>
                      <th>ديانة المريض</th>
                      <th>جنس المريض</th>
                      <th>وقت العمل المفضل</th>
                      <th>أماكن العمل السابقة</th>
                      <th>عنوان السكن الحالي</th>
                      <th class="text-right">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% data.forEach(el => { %>
                    <tr>
                      <td><%= el.id %></td>
                      <td><%= el.fullname %></td>
                      <td><%= el.job %></td>
                      <td><%= el['birth-date'] %></td>
                      <td><%= el['birth-place'] %></td>
                      <td><%= el.religion %></td>
                      <td><%= el['national-id'] %></td>
                      <td><%= el.phone %></td>
                      <td><%= el.email %></td>
                      <td><%= el.gender %></td>
                      <td><%= el['social-situation'] %></td>
                      <td><%= el['previous-workplaces'] %></td>
                      <td><%= el['patient-religion'] %></td>
                      <td><%= el['patient-gender'] %></td>
                      <td><%= el['preferred-worktime'] %></td>
                      <td><%= el['current-residence-address'] %></td>
                      <td class="text-center">
                        <button
                          style="
                            background: none;
                            border: none;
                            font-size: 25px;
                            color: red;
                          "
                          onclick="Delete('<%= el.id %>')"
                        >
                          <i class="fa fa-trash-o m-r-5"></i>
                        </button>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->
    <script>
      async function Delete(id) {
        const Delete = await fetch(`/api/admin/delete/nurse/${id}`, {
          method: "post",
        });
        const response = await Delete.json();
        if (response.done) {
          alert("deleted");
          location.reload();
        } else {
          alert("something went wrong");
        }
      }
    </script>
    <%- include('./n&f/scripts.ejs') %>
  </body>
</html>
