<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./n&f/head.ejs') %>
  </head>
  <body dir="rtl">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <%- include("./n&f/nav.ejs") %>
      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <!-- Page Content -->
        <div class="content container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>الاسم</th>
                      <th>الاسم العربي</th>
                      <th>الوصف</th>
                      <th>الوصف عربي</th>
                      <th class="text-right">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% services.forEach(service => { %>
                    <tr>
                      <td><%= service.id %></td>
                      <td><%= service.name%></td>
                      <td><%= service.nameAr %></td>
                      <td><%= service.description %></td>
                      <td><%= service.descriptionAr %></td>
                      <td class="text-center">
                        <button
                          style="
                            background: none;
                            border: none;
                            font-size: 25px;
                            color: red;
                          "
                          onclick="Delete('<%= service.id %>')"
                        >
                          <i class="fa fa-trash-o m-r-5"></i>
                        </button>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /Page Content -->
      </div>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->
    <script>
      async function Delete(id) {
        const Delete = await fetch(`/api/admin/delete/services/${id}`, {
          method: "post",
        });
        const response = await Delete.json();
        if (response.done) {
          alert("deleted");
          location.reload();
        } else {
          alert("something went wrong");
        }
      }
    </script>
    <%- include('./n&f/scripts.ejs') %>
  </body>
</html>
