<% if (eng) { %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ELHAYAT</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="/assets/css/style.css" rel="stylesheet" media="screen" />
    <link href="/assets/css/chblue.css" rel="stylesheet" media="screen" />
    <link
      href="/assets/css/theme-responsive.css"
      rel="stylesheet"
      media="screen"
    />
    <link
      href="/assets/css/dtb/jquery.dataTables.min.css"
      rel="stylesheet"
      media="screen"
    />
    <link href="/assets/css/select2.min.css" rel="stylesheet" media="screen" />
    <link href="/assets/css/toastr.min.css" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script
      type="text/javascript"
      src="/assets/js/jquery-ui.1.10.4.min.js"
    ></script>
    <script type="text/javascript" src="/assets/js/toastr.min.js"></script>
    <script type="text/javascript" src="/assets/js/modernizr.js"></script>
  </head>
  <body>
    <div id="layout">
      <%- include("./navandfooter/nav.ejs") %>
      <section id="posts">
        <% posts.forEach(post=> { %>
        <a href="/post/<%= post.id %>" style="text-decoration: none">
          <div class="post">
            <img
              src="<%= post.image %>"
              alt="<%=
          post.title %>"
            />
            <p
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                margin-top: 20px;
              "
            >
              <%= post.title %>
            </p>
          </div>
        </a>

        <% }) %>
      </section>
      <%- include("./navandfooter/footer.ejs") %>
    </div>
    <%-include("./navandfooter/scripts.ejs") %>
  </body>
</html>
<% } else { %><%- include('./arabic/blog.ejs') %><% } %>
